:root {
  /* Colors */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youTube: hsl(348, 97%, 39%);

  /* typo */
  --basic:16px;
  --first-heading:1.5em; 
  --second-heading:1.2em; 
  --bold: 400;
  --very-bold:700;
}

/* Font */
@font-face {
  font-family: 'inter';
  src: url('./assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf');
}

/* Overall style */

* {
  font-family: 'inter';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Titles */
h1 {
  font-size:var(--first-heading);
  font-variation-settings: "wght" 600;
}
h2 {
  font-size:var(--second-heading);
  font-variation-settings: "wght" 700;
  color:var(--primary-txt);
  margin: 1em 0;
}

/* Toggle */
.toggle {
  background-color:var(--toggle-color);
}

/* Main */
body {
  font-size: var(--basic);
  background-color:var(--primary-bg);
  z-index:1;
  color: var(--secondary-txt);
} 
.bg {
  position: absolute;
  top: 0;
  left:0;
  height:25%;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 12%;
  width:100%;
  background-color:var(--secondary-bg);
  z-index:-10;
}
header, main {
  display:flex;
  flex-direction: column;
  padding: 0 1.5em;
}

header {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
header p {
  color: var(--primary-txt);
  font-variation-settings: "wght" 700;
  font-size:0.9em;
}

header .break-line {
  height:1px;
  width:100%;
  background-color:var(--primary-txt);
  margin-top:1em;
  margin-bottom:1em;
}

/* Top cards */
.user-section {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-section__card {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 0.25em;
  border-width: .25em 0px 0px 0px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  padding: 1em 0;
  background-color: var(--card-bg);
}
.user-section__card--fb {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 0.25em;
  border-width: .25em 0px 0px 0px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  padding: 1em 0;
  background-color: var(--card-bg);
  border-color: var(--facebook);
}
.user-section__card:hover {
  cursor: pointer;
  filter: brightness(85%);
}
.user-section__card--twitter:hover {
  cursor: pointer;
  filter: brightness(85%);
}
.user-section__card--youtube:hover {
  cursor: pointer;
  filter: brightness(85%);
}
.user-section__card--fb:hover {
  cursor: pointer;
  filter: brightness(85%);
}
.user-section__card--twitter {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 0.25em;
  border-width: .25em 0px 0px 0px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  padding: 1em 0;
  background-color: var(--card-bg);
  border-color: var(--twitter);
}
.user-section__card--youtube {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 0.25em;
  border-width: .25em 0px 0px 0px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  padding: 1em 0;
  background-color: var(--card-bg);
  border-color: var(--youTube);
}
.user-section__card--insta:before {
  content: '';
  height:.25em;
  width:100%;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  background: var(--instagram);
  position: absolute;
  top:-.25em;
  left:0;
}
.user-section_name {
  display: flex;
  color: var(--primary-txt);
  font-variation-settings: "wght" 700;
}
.user-section_icon {
  margin-right:.5em;
}
.user-section__subs {
  text-transform: uppercase;
  letter-spacing:.25em;
  text-align: center;
  padding: 1em 0;
}
.user-section__numbers {
  font-size: 3em;
  font-variation-settings: "wght" 700;
}
.user-section__followers {
  color: var(--primary-txt);
  font-variation-settings: "wght" 400;
}
.user-section__gap {
  font-variation-settings: "wght" 700;
}

.user-section__gap--positive {
  color: var(--lime-green);
}
.user-section__gap--negative {
  color: var(--bright-red);
}

/* Bottom cards */
.overview {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.overview__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25em;
  margin: 0.5em 0;
  padding: 1em 0;
  background-color: var(--card-bg);
}
.overview__card:hover {
  cursor: pointer;
  filter: brightness(85%);
}
.overview__top {
  display:flex;
  flex-direction: row;
  width:80%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5em;
}
.overview__action {
  display: flex;
  color: var(--primary-txt);
  font-variation-settings: "wght" 700;
}
.overview__bot {
  display:flex;
  flex-direction: row;
  width:80%;
  justify-content: space-between;
  align-items: center;
}

.overview__gap {
  font-size: 2em;
  font-variation-settings: "wght" 700;
}
.overview__percent {
  font-variation-settings: "wght" 700;
}
.overview__percent--positive {
  color: var(--lime-green);
}
.overview__percent--negative {
  color: var(--bright-red);
}
.overview h2 {
  padding: 1em 0;
}

/* footer */
footer {
  height:4em;
}
.attribution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color:var(--primary-txt);
  font-variation-settings: "wght" 400;
}
.attribution a {
  text-decoration: none;
  color:var(--primary-txt);
  font-variation-settings: "wght" 700;
}

/* Responsive */
@media (min-width: 48em) {
  .user-section {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .user-section__card{
    margin: 1em 0.5em;
  }
  .user-section__card--fb{
    margin: 1em 0.5em;
  }
  .user-section__card--twitter{
    margin: 1em 0.5em;
  }
  .user-section__card--youtube{
    margin: 1em 0.5em;
  }
  .overview {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .overview__card {
    margin: 0.25em 0.25em;
  }
  header .break-line {
    display:none;
  }
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 90em) {
  .user-section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .user-section__card{
    margin: 1em 1em;
  }
  .user-section__card--fb{
    margin: 1em 1em;
  }
  .user-section__card--twitter{
    margin: 1em 1em;
  }
  .user-section__card--youtube{
    margin: 1em 1em;
  }
  .overview {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .overview__card {
    margin: 0.75em 0.75em;
  }
  footer {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
  }
}
/* Accessibility */